<div class="card sticky-action">
    <div class="card-content black-text">
        <span class="card-title"><a href="{% url 'view_quote' quote.id %}" class="black-text"><u>Quote #{{ quote.id }}</u></a></span>
        <p>{{ quote.content|safe }}</p>
        {% if quote.tags.count > 0 %}
        <p class="grey-text">Tags:
            {% for tag in quote.tags.all %}
            <a href="/quotes/tag/?tag={{ tag }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        {% endif %}
        <p class="grey-text">Votes: <span id="votes_{{ quote.id }}">{{ quote.votes }}</span> vote{{ quote.votes|pluralize }}</p>
    </div>
    <div class="card-action">
        <div class="row">
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                    <div class="col s3 center-align">
                {% else %}
                    <div class="col s4 center-align">
                {% endif %}
            {% else %}
                <div class="col s6 center-align">
            {% endif %}
                    <a href="#!" class="waves-effect waves-green btn-flat upvote-link green-text" data-id="{{ quote.id }}"><i class="material-icons left">check</i> Upvote</a>
                </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                    <div class="col s3 center-align">
                {% else %}
                    <div class="col s4 center-align">
                {% endif %}
            {% else %}
                <div class="col s6 center-align">
            {% endif %}
                <a href="#!" class="waves-effect waves-red btn-flat downvote-link red-text" data-id="{{ quote.id }}"><i class="material-icons left">clear</i> Downvote</a>
            </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                <div class="col s3 center-align">
                    <a href="{% url 'approve_quote' quote.id %}" class="waves-effect waves-green btn-flat black-text">Approve</a>
                </div>
                <div class="col s3 center-align">
                    <a href="#!" class="waves-effect waves-red btn-flat black-text delete-link" data-id="{{ quote.id }}">Delete</a>
                </div>
                {% else %}
                <div class="col s4 center-align">
                    <a href="#!" class="waves-effect waves-red btn-flat black-text delete-link" data-id="{{ quote.id }}">Delete</a>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
