{% extends "base.html" %}
{% block content %}
<div class="section">
    {% if quotes.paginator %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% if quotes.has_previous %}?page={{ quotes.previous_page_number }}{% else %}#!{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" class="{% if quotes.has_previous %}black-text{% else %}grey-text{% endif %}"><u>Previous Page</u> &nbsp;</a>
            <span class="current">
                Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}
            </span>

            <a href="{% if quotes.has_next %}?page={{ quotes.next_page_number }}{% else %}#!{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" class="{% if quotes.has_next %}black-text{% else %}grey-text{% endif %}">&nbsp; <u>Next Page</u></a>
        </div>
    </div>
    {% endif %}
    {% for quote in quotes %}
    <div class="row">
        <div class="col s12">
            {% include "quote.html" with quote=quote %}
        </div>
    </div>
    {% empty %}
    <h5>There are no quotes at this time :(</h5>
    {% endfor %}
    {% if quotes.paginator %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% if quotes.has_previous %}?page={{ quotes.previous_page_number }}{% else %}#!{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" class="{% if quotes.has_previous %}black-text{% else %}grey-text{% endif %}"><u>Previous Page</u> &nbsp;</a>
            <span class="current">
                Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}
            </span>

            <a href="{% if quotes.has_next %}?page={{ quotes.next_page_number }}{% else %}#!{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" class="{% if quotes.has_next %}black-text{% else %}grey-text{% endif %}">&nbsp; <u>Next Page</u></a>
        </div>
    </div>
    {% endif %}
</div>
{% csrf_token %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(".upvote-link").on("click", function(e) {
            e.preventDefault();
            var id = parseInt($(this).data("id"));
            $.post("{% url 'upvote_quote' %}", { qid: id }).done(function(response) {
                if(response === "already upvoted") {
                    Materialize.toast("You have already upvoted this quote!", 2000);
                    return;
                }
                $("#votes_"+id).text(parseInt($("#votes_"+id).text())+1);
            }).fail(function() {
                Materialize.toast("Error upvoting the quote :(", 2000);
            });
        });
        $(".downvote-link").on("click", function(e) {
            e.preventDefault();
            var id = parseInt($(this).data("id"));
            $.post("{% url 'downvote_quote' %}", { qid: id }).done(function(response) {
                if(response === "already downvoted") {
                    Materialize.toast("You have already downvoted this quote!", 2000);
                    return;
                }
                $("#votes_"+id).text(parseInt($("#votes_"+id).text())-1);
            }).fail(function() {
                Materialize.toast("Error downvoting the quote :(", 2000);
            });
        });
    });
</script>
{% endblock %}
