<div class="card sticky-action">
    <div class="card-content black-text">
        <span class="card-title"><a href="{% url 'view_quote' quote.id %}" class="black-text"><u>Quote #{{ quote.id }}</u></a></span>
        <p>{{ quote.content|safe }}</p>
        <p class="grey-text">Tags: {{ quote.tags.all | join:", " }}</p>
        <p class="grey-text">Votes: <span id="votes_{{ quote.id }}">{{ quote.votes }}</span> vote{{ quote.votes|pluralize }}</p>
    </div>
    <div class="card-action">
        <div class="row">
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                    <div class="col s3 center-align">
                {% else %}
                    <div class="col s4 center-align">
                {% endif %}
            {% else %}
                <div class="col s6 center-align">
            {% endif %}
                    <a href="#!" class="green-text upvote-link" data-id="{{ quote.id }}"><i class="material-icons">check</i></a>
                </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                    <div class="col s3 center-align">
                {% else %}
                    <div class="col s4 center-align">
                {% endif %}
            {% else %}
                <div class="col s6 center-align">
            {% endif %}
                <a href="#!" class="red-text downvote-link" data-id="{{ quote.id }}"><i class="material-icons">clear</i></a>
            </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
                {% if not quote.approved %}
                <div class="col s3 center-align">
                    <a href="{% url 'approve_quote' quote.id %}" class="green-text">Approve</a>
                </div>
                <div class="col s3 center-align">
                    <a href="{% url 'delete_quote' quote.id %}" class="red-text">Delete</a>
                </div>
                {% else %}
                <div class="col s4 center-align">
                    <a href="{% url 'delete_quote' quote.id %}" class="red-text">Delete</a>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
